<div class="container my-5">
  <h1 class="mb-3"> Add new employee</h1>
  <div class="row">
    <div class="col-6">

      <form (ngSubmit) = "addEmployee()" [formGroup]="addForm" >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name" >         
          <small *ngIf="addForm.controls['name'].dirty && addForm.hasError('required','name')" class="text-danger">* Name is required</small>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email"  formControlName="email">
            <small *ngIf="addForm.controls['email'].dirty && addForm.hasError('required','email')" class="text-danger">* Email address  is required</small>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone"  formControlName="phone">
            <small *ngIf="addForm.controls['phone'].dirty && addForm.hasError('required','phone')" class="text-danger">* Phone number is required</small>
          </div>
          
        
          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" formControlName="salary">         
            <small *ngIf="addForm.controls['salary'].dirty && addForm.hasError('required','salary')" class="text-danger">* Salary is required</small>
          </div>
          

          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" name="department" formControlName="department">         
            <small *ngIf="addForm.controls['department'].dirty && addForm.hasError('required','department')" class="text-danger">* Department is required</small>
          </div>
         

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

  </div>


</div>